<h2>Biblioteca Virtual About</h2>
<div class="field">
<p>
	A Biblioteca virtual não se responsabiliza pelas transações realizadas no site. O site tem apenas o objetivo de compartilhar sobre os livros de interesses comuns entre os clientes. Tendo consiência disso não serão levados em conta reclamações a respeito das transações sendo que estás estão apenas a pá apenas do interessado em trocar ou comprar o livro.
</p>

</div>
 

</ul>
