<body>
<form>
<h2 class="p-3 mb-2 bg-primary text-white">Sign up</h2>
<table>
<tr>
<td>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label for="exampleInputEmail1"><%= f.label :email %></label></br>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1"><%= f.label :password %></label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1"><%= f.label :password_confirmation %></label></br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <div class="form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <div class = 'divlink'>
  <%= render 'devise/shared/links' %>
</div>
<% end %>
</form>
</td>
<td>
  <div class="imagem">
      <%= image_tag "Amor_livros.jpg"%>
  </div>
</td>
</tr>
</body>
