// Place all the styles related to the Help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field p{
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
  text-indent: inherit;
  text-decoration: none;
}
.field{
  width: 1000px;
}
