// Place all the styles related to the livros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.editing{
  width: 400px;
}
.Main img{
  width: 50px;
  height: 50px;
}
.Main nav{
  background-color:#004080;
}

.Main p{
  color: white;
}

.Main a{
  color: white;
}

.link{
  width: 200px;
}

div{
  color: white;
}
p{
  color: white;
  background-color:#004080;
  padding: 10px 10px 10px 10px;
}
#notice{
  color: white;
}
.actions{
  color: black;
}
.field input{
  color: black;
}
.field textarea{
  color: black;
}

.align table{
  margin-right: -30px;
  margin-bottom: 100px;
  width: 500px
}
.align td a{
  color: white;
}
.container{
  background-color: white;
}
.thumbnail img{
  width: 200px;
  height: 200px;
}
h2{
  margin-bottom: 10px;
  padding: 30px 30px 30px 30px;
  width: 1000px;
  background-color: #004080;
}
.in-line li{
  display: inline-block;
}
.container-1{
  margin-left: 100px;
}
.link a{
  text-decoration: none;
  color: black;
}
