// Place all the styles related to the registrationscontroller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user{
  width: 400px;
  margin-bottom: 30px;
}
.new_user a{
  display:inline;
}
#new_user{
  background-color: #004080;
  color: white;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 1000px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 15px;
  font-family:monospace;
  width: 500px;
  height: 300px;
}

.container{
margin-top: 70px;
}

.container form{
  background-color: #004080;
  color: white;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 1050px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 15px;
  font-family:monospace;
  width: 500px;
  height: 800px;
  border: 2px solid;
  border-color: black;
}
.container h2{
  margin-bottom: 10px;
  padding: 30px 30px 30px 30px;
  width: 1000px;
}
.divlink {
width: 500px;
}
aside{
  display: block;
}

div.imagem img{
  display: inline-block;
  width: 500px;
  height: 500px;
  border: 2px solid;
  border-color: white;
}

.container input{
  color: black;
}
