<%= form_for @livro, html: { multipart: true } do |form| %>
  <% if livro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(livro.errors.count, "error") %> prohibited this livro from being saved:</h2>

      <ul>
      <% livro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :livro_titulo %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor, id: :livro_autor %>
  </div>

  <div class="field">
    <%= form.label :edicao %>
    <%= form.number_field :edicao, id: :livro_edicao %>
  </div>

  <div class="field">
    <%= form.label :ano %>
    <%= form.number_field :ano, id: :livro_ano %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, id: :livro_descricao %>
  </div>
  
  <div class="field">
    <%= form.label :imagem %><br />
    <%= form.file_field :imagem %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
