<h2>Editing Livro</h2>
<div class = "link">
  <%= render 'form', livro: @livro %>
    <%= link_to 'Show', @livro %> |
    <%= link_to 'Back', livros_path %> |
    <%= link_to 'Edit', edit_livro_path(@livro) %> |
    <%= link_to "Delete", livro_path(@livro), :confirm => "Are you sure?", :method => :delete %>
  </div>
