<h2>Livros</h2>
<body class = "livros_body">
    <% @livros.each do |livro| %>
<div class="container-1">
<div class="row">
  <div class="col">
    <div class="thumbnail">
      <img <%= image_tag(livro.imagem.url(:medium)) %>
      <div class="caption">
        <h3>Titulo: <%=livro.titulo %></h3>
            <p>Autor: <%= livro.autor %></p>
            <p>Edição: <%= livro.edicao %></p>
            <p>Ano: <%= livro.ano %></p>
        <p>
        <% if user_signed_in? %>
        <button type="button" class="btn btn-primary"><%= link_to 'Read More', livro %></button></td>
        <%else%>
        <button type="button" class="btn btn-primary"><%= link_to 'Read More', '/users/sign_in' %></button></td>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
  <% end %>

</body>
