<p id="notice"><strong>Noticia: <%= notice %></strong></p>

<p>
  <strong>Titulo:</strong>
  <%= @livro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<p>
  <strong>Edição:</strong>
  <%= @livro.edicao %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @livro.ano %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @livro.descricao %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag @livro.imagem(:medium) if @livro.imagem.present? %>
</p>
<div class = 'link'>

  <% if user_signed_in? %>
  <%= link_to 'Back', livros_path %> |
  <%= link_to 'Edit', edit_livro_path(@livro) %> |
  <%else%>
  <%= link_to 'Back', livros_path %> |
  <% end %>

</div>
