<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca Virtual</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "Main">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container_menu_top">
        <nav>
          <%= image_tag "pilha-de-livros-de-tres_318-45543.png" %>
          <%= link_to "Biblioteca Virtual ", '/', id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-primary"><%= link_to "Home",   '/' %></button></li>
            <li><button type="button" class="btn btn-primary"><%= link_to "Help",   '/help' %></button></li>
            <% if user_signed_in? %>
            <li><button type="button" class="btn btn-primary"><%= link_to "Log out",destroy_user_session_path, :method=>'delete'%></button></li>
            <li><button type="button" class="btn btn-primary"><%= link_to "New Book", new_livro_path%></button></li>
            <%else%>
            <li><button type="button" class="btn btn-primary"><%= link_to "Log in", '/users/sign_in' %></button></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
